[bumpversion]
current_version = 0.2.0
commit = True
tag = True
tag_name = {new_version}
message = Bumped version: {current_version} → {new_version}

[bumpversion:file:bucket_throttling/version.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:setup.py]
search = version='{current_version}'
replace = version='{new_version}'

